<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.restart1025.dao.UploadFileDao">

    <resultMap id="uploadFileMap" type="uploadFile">
        <id property="id" column="id" />
        <result property="fileSn" column="file_sn" />
        <result property="fileName" column="file_name" />
        <result property="fileType" column="file_type" />
        <result property="filePath" column="file_path" />
        <result property="uploadTime" column="upload_time" />
        <result property="deleted" column="deleted" />
        <collection property="uploader" fetchType="lazy" select="com.github.restart1025.dao.PersonDao.getPersonByPersonId"
                    column="{personId=person_id}" />
    </resultMap>

    <select id="queryUploadFilesByPersonId" resultMap="uploadFileMap" parameterType="Map">
        SELECT u.*
        FROM upload_file u
        WHERE u.deleted=0 AND u.person_id=#{personId}
        ORDER BY u.upload_time DESC
    </select>

    <select id="findAll" resultMap="uploadFileMap" parameterType="Map">
        SELECT u.*
        FROM upload_file u
        GROUP BY u.person_id
    </select>

    <insert id="insertUploadFile" parameterType="map">
        INSERT INTO upload_file(file_sn, file_name, file_type, file_path, person_id, upload_time)
        VALUES (#{fileSn}, #{fileName}, #{fileType}, #{filePath},  #{uploader}, #{uploadTime})
    </insert>

</mapper>
